/* quando em modo impressao quebra a pagina */
@media print {
    article {
        page-break-after: always;
    }

    @page {
        margin: 1cm;
    }

    /* Defining all page breaks */
    a {
        page-break-inside: avoid;
    }
    blockquote {
        page-break-inside: avoid;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
    table,
    pre {
        page-break-inside: avoid;
    }
    ul,
    ol,
    dl {
        page-break-before: avoid;
    }

    /* Displaying link color and link behaviour */
    a:link,
    a:visited,
    a {
        background: transparent;
        color: #520;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    a {
        page-break-inside: avoid;
    }

    a[href^="http"]:after {
        content: " < " attr(href) "> ";
    }

    article a[href^="#"]:after {
        content: "";
    }

    a:not(:local-link):after {
        content: " < " attr(href) "> ";
    }
}